@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #7b4bb7;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
@media (max-width: 995px) {
    #menu-icon {
        display: block;
        cursor: pointer;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0%;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        display: none;
    }
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}
section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}
.home .home-content {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color:var(--main-color);
}
.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home -img img {
    border-radius: 50%;
}
.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}
.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color)); 
}
.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-icon a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--main-color);
    border-radius: 4rem;
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 500;
}
.btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.03)
}
.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before{
    content: "Ambitious Student";
    color: var(--main--color);
    animation: words 20s infinite;
}
.typing-text span::after{
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursos 0.6s infinite, typing 20s(14) infnite;
}   

@keyframes cursos {
        to {
            border-left: 3px solid avr(--main-color);
        }

}
@keyframes words {
    0%, 10% {
        content: "Ambitious Student";
    }
    25%, 35% {
        content: "Aspiring Developer";
    }
    50%, 60% {
        content: "Enthusiast of 3D Tech";
    }
    75%, 85% {
        content: "Editor of the Videos";
    }
    100% {
        content: "Entrepreneur";
    }
}

@keyframes typing {
    10%, 15%, 
    30%, 35%, 
    50%, 55%, 
    70%, 75%, 
    90%, 95% {
        width: 0;
    }
    5%, 20%, 
    25%, 40%,
    45%, 60%, 
    65%, 80%, 85%{
        width: calc(100%+8px); 
    }
}
@media (max-width: 1000px){
    .home {
        gap: 4rem;
    }
}
@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

}

/* skills secction */

.skills {
    background: var(--second-bg-color);
}
.skills-containter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.skills-box {
    background-color: var(--main--color);
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease
}
.skills-box .skills-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.skills-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}